@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--Pale-blue);
    background-image: url(./images/pattern-background-desktop.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

section {
    max-width: 400px;
    background-color: #ffff;
    border-radius: 20px;

}

.image-hero img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}
section .container-desc {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}


section .container-desc h1 {
    color: var(--Dark-blue);
    font-weight: 900;
    margin-bottom: 1rem;
}

section .container-desc p {
    color: var(--Desaturated-blue);
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 1rem;
}

section .container-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem;
    background-color: var(--Very-pale-blue);
    margin-bottom: 2rem;
    border-radius: 10px;
}

section .plan {
    display: flex;
    align-items: center;
    gap: 1rem;
}

section .plan .price {
    color: var(--Desaturated-blue);
}

button {
    border: none;
    background-color: var(--Bright-blue);
    border-radius: 10px;
    color: #ffff;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 15px;
    margin-bottom: 2rem;
    cursor: pointer;
}

section .link-cancel {
    color: var(--Desaturated-blue);
    text-decoration: none;
}